@import 
url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*  product  */
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;

  /*  base  */
  --bg-color: #0F172A;
  --stroke-color: #1E293B;

  /*  text  */
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  /*  font  */
  --font-family: 'Archivo', sans-serif;
  --h1: 800 1.5rem/135% var(--font-family);
  --h2: 800 1rem/140% var(--font-family);
  --h3: 800 .875rem/140% var(--font-family);
  --text-span: 600 .875rem/145% var(--font-family);
  --text: 400 1rem/140% var(--font-family);
  --text-sm: 400 .875rem/160% var(--font-family);

}

body {
  color: var(--text-color-primary);
  background: var(--bg-color);

  font: var(--text);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1,
h2,
h3 {
  font: inherit;
}